**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/*.tfplan
**/backend.tf
**/terraform.tfvars
**/*.auto.tfvars
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
crash.log
